<h1>New job</h1>
<div id="job_form">
<%= form_tag :action => 'create' %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
  <%= link_to("Cancel", url_for(:action=>"jobs", :controller=>"show")) %>
</form>
</div>

